<%= flash[:notice] %>
  <h1>index</h1>

  <%= link_to 'Add Candidate' , new_candidate_path %>

    <table>
      <tr>
        <td>Name</td>
        <td>party</td>
        <td>Age</td>
        <td>Action</td>

        <% @candidates.each do |candidate| %>
      <tr>
        <td>
          <%= link_to candidate.name, candidate_path(candidate.id) %>
        </td>
        <td>
          <%= candidate.party %>
        </td>
        <td>
          <%= candidate.politics %>
        </td>
      </tr>

      <% end %>

        </tr>
    </table>